.btn-menu {
  background: transparent;
  width: 24px;
  height: 24px;
  border: 0;
  outline: 0;
  background-image: url('../../assets/icons/rectangle_2.png');
  background-position: center;
}

.btn-account {
  background: transparent;
  width: 24px;
  height: 24px;
  border: 0;
  outline: 0;
  background-image: url('../../assets/icons/rectangle.png');
  background-position: center;
}