.message-box {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}

.message-box__subtitle {
  margin-top: auto;
  margin-left: 4px;
  opacity: 0.4;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #363a42;
}

.message-box__contents {
  max-width: 60%;
  padding: 12px;
  border-radius: 12px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: white;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.1px;
  color: #363a42;
}