.chat-room {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  background-color: #f9f9fb;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
}

.header {
  flex: 0 0 auto;
}

.header__title {
  font-size: 17px;  
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 20px;
  letter-spacing: -0.12px;
  text-align: center;
  color: white;
  margin-left: 40px;
}

.btn-back {
  background: transparent;
  width: 24px;
  height: 24px;
  border: 0;
  outline: 0;
  background-image: url('../assets/icons/img-back.png');
  background-position: center;
}

.btn-back:hover,
.btn-back:active {
  cursor: pointer;
}

.btn-upload {
  background: transparent;
  width: 24px;
  height: 24px;
  border: 0;
  outline: 0;
  background-image: url('../assets/icons/img-upload.png');
  background-position: center;
}

.btn-search {
  background: transparent;
  width: 24px;
  height: 24px;
  border: 0;
  outline: 0;
  background-image: url('../assets/icons/img-search.png');
  background-position: center;
}

.button-wrapper {
  display: flex;
}

.button-wrapper > .btn-upload {
  margin-right: 17px;
}

.chat-room__contents {
  padding: 0 16px;
  flex: 1 1 auto;
  overflow-y: auto;
  height: calc(100vh - 143px);
}

footer {
  left: 0px;
  right: 0px;
  bottom: 0px;
  position: absolute;
  padding: 19px 16px 20px 16px;
  flex: 0 0 auto;
  background-color: #f9f9fb;
}

footer > .input-message {
  width: 100%;
  border-width: thin;
  display: block;
  max-width: 100%;
  outline: none;
  text-decoration: none;
  transition-property: box-shadow,opacity;
  overflow-wrap: break-word;
  position: relative;
  white-space: normal;
}