.image-file-list {
  display: flex;
  padding: 11px 0 11px 16px;
  background-color: #5b36ac;
  margin-top: -11px;
  margin-bottom: 10px;
}

.thumbnail {
  width: 46px;
  height: 46px;
  margin: 0 10px 0 0;
  border-radius: 5px;
  background-color: #47909b;
}