.header {
  height: 44px;
  padding: 0 12px;
  background-color: #5b36ac;
  margin-bottom: 10px;
}

.header__content {
  align-items: center;
  display: flex;
  position: relative;
  z-index: 0;
  height: 44px;
  justify-content: space-between;
}

.header__title {
  font-size: 17px;  
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 20px;
  letter-spacing: -0.12px;
  text-align: center;
  color: white;
}

/* a 태그 리셋 */
a {
  color: #fff; 
  text-decoration: none; 
  outline: none
}